.cloud{
    color: rgb(104, 175, 197);
    filter: drop-shadow( 1px 1px 5px rgb(104, 175, 197));
    animation-name: cloudMovement;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: rgb(28 119 233 / 95%);
    height: 120px;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    background: #2b2f32;
    color: white;
}
