<div class="container">
  <br>
  <div class="row">
    <div class="col-sm-6" *ngFor="let wea of weather">
      <div class="card-header">
        <label>{{wea.name}}</label>, <label>{{wea.sys.country}}</label>
        <div class="float-end">
          <h3>{{wea.main.temp}}</h3>
          <small>Temp Min:{{wea.main.temp_min}} c</small><br>
          <small>Temp Min:{{wea.main.temp_max}} c</small>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
        <div class="col-sm-4">
          <label>Pressure:{{wea.main.pressure}}Pa</label>
          <br>
          <label>Humidity:{{wea.main.humidity}}%</label>
          <br>
          <label>Visibility:{{wea.visibility}}</label>
        </div>
        <div class="col-sm-4">
          <label>{{wea.wind.speed}}m/s{{wea.wind.deg}}Degree</label>
        </div>
        <div class="col-sm-4">
          <label>Sunrise:{{wea.sys.sunrise}}am</label>
          <br>
          <label>Sunset:{{wea.sys.sunset}}pm</label>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>